body {
	font-family: 'Montserrat';
}

h1 {
	border-bottom:2px #108070 solid;
	padding-bottom:20px;
}

a { color: #108070 ;}

a:hover { color: #2FAA96 ;}

.container {
	margin:0px auto;
	margin-top:60px;
	margin-bottom:100px;
	max-width:700px;
}

input, textarea {
	width: 100%;
	margin: 10px 0;
	border:1px #d9d9d9 solid;
	padding:5px;
}

input {
	height:35px;	
}

textarea {
	height:200px;
}

section {
	margin:40px 0;
}

button {
	padding:14px;
	background-color:#108070;
	color:#fff;
	border:none;
	font-family:'Montserrat';
	font-size:1em;
}

button:hover {
	background-color: #2FAA96;
}